*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
}

h1{
    margin: 0;
    color: white;
}

.header{
    background-color: rgb(71, 247, 71);
    padding: 15px;
}